* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* global style */

button {
    padding: 8px 12px;
    background: #f1bf73;
    border: none;
    font-size: 12px;
    text-transform: uppercase;

}


/* Header section */

.header_section {
    height:700px;
    width: 100%;
    background-image: url("Image_1.png");  
    color: #fff;
    background-position: center;
    background-size: cover;
}

.content {
    padding-top: 15%;
    width: 50%;
    margin: 0 100px;
}

.content h1 {
    font-size: 35px;
}

.content p {
    font-size: 16px;
    margin: 20px 0px;
    color: #e9e1e1f2;
    padding-right: 200px ;
}

/* about section */
.about_section {
    height: 600px;
    width: 100%;
    background-size: cover;
 }
 .about_left {
    float: left;
    width: 50%;
    height: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(44, 43, 43);
    text-align: center;
    
 }
 .about_left h1{
    padding-top:200px ;    
 }
 .about_left p {
    padding:40px ;
}
 .about_right {
    float: right;
    width: 50%;
    height: 100%;
    color: #fff;
    background-color: rgb(38, 34, 34);
    text-align: center;
}
.about_right  h1{
    padding-top:200px ;    
}
.about_right h4{
    padding-top:40px ;     
 }
 .about_right p{
    padding-bottom:25px ;       
 }

 /* workahop section */
 .workshop_section {
    height: 600px;
    width: 100%;
 
    

 }
 .workshop_left{
    float: left;
    width: 35%;
    height: 100%;
    background-color: rgb(255, 255, 255);
 }

 .workshop_left h1{
    padding-top:200px ; 
    padding-left: 40px;
    
       
 }
 .workshop_left p {
    padding:40px ;
}

.workshop_left button{
    margin-left: 40px;
}
 .workshop_right {
    float: right;
    width: 65%;
    height: 600px;
    
 }
 .workshop_right img{
     height:100% ;
 }
 
 /* studio section */
 .studio_section {
    height: 600px;
    width: 100%;
    
 }
 .studio_left {
    float: left;
    width: 65%;
    height: 600px;
 
 }

 .studio_left img{
     height: 100%;
 }

 .studio_right{
    float: right;
    width: 35%;
    height: 100%;
    color: #fff;
    background-color: rgb(44, 43, 43);
    
 }

 .studio_right h1{
    padding-left: 40px;
    padding-top:200px ;    
 }
 .studio_right p {
    padding:40px ;
}
.studio_right button{
    margin-left: 40px;
}

